*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  min-height:100vh;
  width: 100%;
  font-family: Ambassador;
}

#main{
  padding-top: 50px;
  width: 100%;
  min-height:100vh;
  background-color: #171919;
}

nav{
width: 100%;
min-height: 20vh;
display: flex;
}

.lft-nav{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  padding-right:20px;
}

.lft-nav img {width: 35%; margin-top: 15px;}

.cntr-nav{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5%;
  width: 50%;
  height: 100%;
}

.cntr-nav a{
text-decoration: none;
color: #ffffff;
padding: 10px 15px ;
font-size: 16px;
}

.cntr-nav .brdr{
  border: 1px solid #ffffff49;
 padding: 5px;
  border-radius: 50px;
  display:flex;
  
}

.brdr .active{
display:flex;
background-color: #c6ec64;
padding: 10px 15px;
border-radius: 50px;
color: #000;
}

.cntr-nav .brdr .nav-cntr{
  border: 2px solid transparent;
  border-radius: 50px;
  transition: .3s all ease-in-out;
}

.cntr-nav .brdr .nav-cntr:hover{
  border: 2px solid #c6ec64;
  border-radius: 50px;
  transition: .3s all ease-in-out;
}

.rght-nav{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  width: 25%;
  height: 100%;
}

.lft-part{
width: 50%;
height: 100%;
background-color: #000;
}

.rght-part{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  width: 50%;
  height: 100%;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24;
color: #fff;
border: 1px solid #ffffff49;
padding: 10px;
border-radius: 50px;
}

.material-symbols-outlined:hover{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #c6ec64;
  }

.rght-nav a {
text-decoration: none;
color:#FFF ;
}


.rght-end {
padding: 15px;
border: 1px solid #ffffff49;
border-radius: 50px;
}

.header{
  display: flex;
  width: 100%;
  min-height: 80vh;
  margin-top: 80px;
}

.header-lft{
display: flex;
  align-items: start;
  justify-content: start;
  flex-direction:column;
  padding-left: 2%;
  gap:50px ;
  width: 60%;
  min-height: 80vh;
  margin-left: 60px;
}

.header-lft h1{
  font-weight: 400;
  color: #FFF;
font-size: 92px;
}

.header-lft span{
background-color: #d2d4ff;
color: #000;
padding: 5px;
border-radius: 50px;
}

.header-btn{
  font-family:Ambassador ;
  padding: 16px 50px;
  border-radius: 50px;
  background-color: #c6ec64;
  font-size: 20px;
  height: 60px;
  cursor: pointer;
}

.header-rght{
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
}

