*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  min-height:100vh;
  width: 100%;
  font-family: Ambassador;
}

#main{
  padding-top: 50px;
  width: 100%;
  min-height:100vh;
  background-color: #171919   ;
}

nav{
width: 100%;
min-height: 20vh;
display: flex;
}

.lft-nav{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  padding-right:20px;
}

.lft-nav img {width: 35%; margin-top: 15px;}

.cntr-nav{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5%;
  width: 50%;
  height: 100%;
}

.cntr-nav a{
text-decoration: none;
color: #ffffff;
padding: 10px 15px ;
font-size: 16px;
}

.cntr-nav .brdr{
  border: 1px solid #ffffff49;
 padding: 5px;
  border-radius: 50px;
  display:flex;
  
}

.brdr .active{
display:flex;
background-color: #c6ec64;
padding: 10px 15px;
border-radius: 50px;
color: #000;
}

.cntr-nav .brdr .nav-cntr{
  border: 2px solid transparent;
  border-radius: 50px;
  transition: .3s;
}

.cntr-nav .brdr .nav-cntr:hover{
  border: 2px solid #c6ec64;
  border-radius: 50px;
  transition: .3s all ease-in-out;
}

.rght-nav{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  width: 25%;
  height: 100%;
}

.lft-part{
width: 50%;
height: 100%;
background-color: #000;
}

.rght-part{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  width: 50%;
  height: 100%;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24;
color: #fff;
border: 1px solid #ffffff49;
padding: 10px;
border-radius: 50px;
cursor: pointer;
}

.material-symbols-outlined:hover{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #c6ec64;

  }

.rght-nav a {
text-decoration: none;
color:#FFF ;
}


.rght-end {
padding: 15px;
border: 1px solid #ffffff49;
border-radius: 50px;
cursor: pointer;
}

.header{
  display: flex;
  width: 100%;
  min-height: 80vh;
  margin-top: 70px;
}

.header-lft{
display: flex;
  align-items: start;
  justify-content: start;
  flex-direction:column;
  padding-left: 2%;
  gap:50px ;
  width: 60%;
  min-height: 80vh;
  margin-left: 100px;
}

.header-lft h1{
  font-weight: 400;
  color: #FFF;
font-size: 96px;
}

.header-lft span{
background-color: #d2d4ff;
color: #000;
padding: 5px;
border-radius: 50px;
}

.header-btn{
  font-family:Ambassador ;
  padding: 16px 50px;
  border-radius: 50px;
  background-color: #c6ec64;
  font-size: 20px;
  height: 60px;
  cursor: pointer;
}

.header-rght{
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
}

.header-rght img{
width: 80%;
height: 80%;
margin-top: -30px;
}

/* -----------PART-02 -------------- */
.part-2{
display: flex;
flex-direction: column;
align-items: start;
gap: 50px;
justify-content: center;
width: 100%;
height: 80vh;
background-color: #fff;
padding: 7% 7%;
}

.mainHeading-b{
  font-size: 95px;
  color: #000;
  font-weight: 400;
}

.part-2-content{
  width: 100%;
  height: 60vh;
  display: flex ;
}

.lft-part-2{
  width: 50%;
  height: 100%;
}

.lft-part-2 p {
  width: 100%;
  font-size: 40px;
  line-height: 40px;
}

.rght-part-2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.rght-part-2 h3{
  padding: 25px 60px;
  background-color: #c6ec64;
  border-radius: 50px;
  border: none;
  font-size: 25px;
}

#cloud {
  position: absolute;
  background-color: rgb(30, 170, 76);
  color: #fff;
  top: -10%;
  rotate:-5deg;
}

#gov{
position: absolute;
background-color: #c6ec64;
color: #000;
top: 34%;
left: 12%;
rotate: 5deg;
}

#mobile{
  position: absolute;
  background-color: #D2D4FF;
  color: #000;
  top: 34%;
  left: 50%;
  rotate: 6deg;
}

#mvp{
  position: absolute;
  background-color: #3A3C56;
  color: #FFF;
  top: 75%;
  left: 10%;
  rotate: -6deg;
}

#ed{
  position: absolute;
  background-color: #4F56D3;
  color: #fff;
  top: 75%;
  left: 60%;
  rotate: 6deg;
}

#svgOne{
position: absolute;
top: 13%;
left: 30%;
}

#svgTwo{
  position: absolute;
  top: 75%;
  left: 10%;
  width: 48px;
  height: 48px;
}


/* -----------PART-03 -------------- */

.part-3{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
min-height: 100vh;
background-color: #fff;
padding: 7%;
gap: 3vh;
}

.cases-1{
  display: flex;
  width: 100%;
  height: 80vh;
}

.lft-cases-1{
  width:50% ;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.rght-cases-1{
  display: flex;
  width:50% ;
  height: 55%;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  gap: 35px;
}

.child-rght-cases-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width:50% ;
  height: 100%;
}

.child-rght-cases-2{
  display: flex;
  align-items: center;
  justify-content: center;
  width:50% ;
  height: 100%;
  background-color: rgb(166, 255, 23);
}

.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40vw;
  height: 30vw;
}

.img-container img{
transition:all cubic-bezier(0.19, 1, 0.22, 1) 1s ;}

.img-container:hover img{
cursor: pointer;
scale: 1.1;
}

.spec{
width: 85%;
height: 10vh;
gap: 20px;
flex-wrap: wrap;
display: flex;
align-items: center;
justify-content:start;
}

.spec p{
padding: 10px 20px;
background-color: #E8E8E8;
border-radius: 50px;
}

#first-grid {background-image: linear-gradient(to right,#C9D4F8 ,#5AC093);}

.lft-cases-1 h3{
margin:20px 0px;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}

.rght-child-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40vw;
  height: 30vw;
}

.rght-child-img-container img{
  transition:all cubic-bezier(0.19, 1, 0.22, 1) 1s ;
}

.rght-child-img-container:hover img{
  cursor: pointer;
  scale: 1.1;
  }

.button{
width: 100%;
min-height: 12vh;
margin-bottom: 50px;
display: flex;
text-align: center;
justify-content: center;
background-color: #fff;
}

.cta-load{
padding: 10px 600px;
background-color: #c6ec64;
border-radius: 50px;
border: none;
font-size: 20px;
font-family: Ambassador;
}
